---
- name: Install and configure MySQL
  hosts: mysql
  become: true
  gather_facts: true
  serial: 1
  order: inventory
  any_errors_fatal: false
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python | default('/usr/bin/python3') }}"

  pre_tasks:
    - name: Set custom hostname if provided
      hostname:
        name: "{{ custom_hostname }}"
      when: custom_hostname is defined and custom_hostname | length > 0

    - name: Update /etc/hosts with hostname
      lineinfile:
        path: /etc/hosts
        regexp: '^127\.0\.1\.1'
        line: "127.0.1.1 {{ custom_hostname }}"
        state: present
      when: custom_hostname is defined and custom_hostname | length > 0

  roles:
    - role: ./role
      vars:
        deployment_mode: "{{ deployment_mode | default('single') }}"
